/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end meyer reset */


/************************************/
/*             TYPOGRAPHY           */
/************************************/

@font-face {
    font-family: 'MetaBold';
    src: url('http://www.mozilla.com/img/fonts/MetaWebPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body, html {
  background: black;
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
}
#map_container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
#ui {
    z-index: 100;
}
#geo, #sunburst {
    position: absolute;
    top: 92px;
    width: 100%;
    background: #000;
    height: -moz-calc(100% - 213px);
}
#map {
  position: relative;
  top: 0;
  left: 0;
  -moz-transition-duration: .2s;
  -moz-transition-property: -moz-transform, top, left;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  background-image: -moz-radial-gradient(center -5% 45deg, #badfef, #4b94d0 20%, #2e70b4 30%, #002a77 60%);
  background-image: -webkit-gradient(radial, 50% -5%, 1, 50% -5%, 1800, from(#badfef), color-stop(20%, #4b94d0), color-stop(30%, #2e70b4), color-stop(60%, #002a77));
}
#pings {
    position: absolute;
    top: 0;
    left: 0;
    width: 3600px;
    height: 1800px;
}
#mapdata {
    -moz-transform-origin: 0 0;
    width:3600px;
    height:1800px;
}
#mapdata img {
    width: 3600px;
    height: 1800px;
    overflow: hidden;
    pointer-events: none;
}
polygon {
    fill: #031841;
    stroke: none;
}

.glow {
  -webkit-box-shadow:
    0 0 18px 4px rgba(240,240,255,.4),
    inset 0 0 20px rgba(240,240,255,.4);
  -moz-box-shadow:
    0 0 18px 4px rgba(240,240,255,.4),
    inset 0 0 20px rgba(240,240,255,.4);
  box-shadow:
    0 0 18px 4px rgba(240,240,255,.4),
    inset 0 0 20px rgba(240,240,255,.4);
  border: 2px solid #fff;
}
.menu {
    position: fixed;
    bottom: -96px;
    left: -64px;
    height: 250px;
    width: 250px;
    z-index: 110;
    background: #000;
    border-radius: 128px;
    -moz-border-radius: 128px;
    -webkit-border-radius: 128px;
    background: url(../media/sector.png) center no-repeat #000;
    cursor: pointer;
}
.view-sector .menu {
    background: url(../media/globe.png) center no-repeat #000;
}
#sqlstream {
    position: absolute;
    z-index: 100;
    /* 120px puts us right above the bars. */
    bottom: 5px;
    right: 10px;
    outline: none;
}
.view-sector #sqlstream {
    display: none;
}
.bars {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 120px;
    width: 100%;
    border-width: 1px 0 0 0;
    z-index: 100;
    text-align: right;
    background: black;
    white-space: nowrap;
}
.bars .col {
    text-align: center;
    line-height: 24px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    display: block;
    position: relative;
    float: right;
    width: 40px;
    height: 130px;
    margin: 0 10px;
}
.bars.slide {
    -moz-transition-property: padding;
    -moz-transition-duration: 2s;
    -webkit-transition-property: padding;
    -webkit-transition-duration: 2s;
    transition-property: padding;
    transition-duration: 2s;
    padding-right: 60px;
}
.bars .bar {
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 0;
    background: rgba(227,159,28,.1);
    border: 1px solid #FF7E0A;
    -moz-box-shadow:
        0 0 6px 2px rgba(227,159,28,.5),
        0 0 4px 1px #000 inset,
        0 0 2px 1px #FFC000 inset;
    -webkit-box-shadow:
        0 0 6px 2px rgba(227,159,28,.5),
        0 0 4px 1px #000 inset,
        0 0 2px 1px #FFC000 inset;
    box-shadow:
        0 0 6px 2px rgba(227,159,28,.5),
        0 0 4px 1px #000 inset,
        0 0 2px 1px #FFC000 inset;
}
.bars .col:hover .bar {
    background-color: rgb(227,159,28);
    -moz-box-shadow:
        0 0 16px 2px rgba(227,159,28,.8),
        0 0 4px 1px rgba(0,0,0,.1) inset,
        0 0 2px 1px #FFC000 inset;
    -webkit-box-shadow:
        0 0 16px 2px rgba(227,159,28,.8),
        0 0 4px 1px rgba(0,0,0,.1) inset,
        0 0 2px 1px #FFC000 inset;
    box-shadow:
        0 0 16px 2px rgba(227,159,28,.8),
        0 0 4px 1px rgba(0,0,0,.1) inset,
        0 0 2px 1px #FFC000 inset;
}
.bar {
    height: 0;
    -moz-transition-property: height;
    -moz-transition-duration: 3s;
    -webkit-transition-property: height;
    -webkit-transition-duration: 3s;
    transition-property: height;
    transition-duration: 3s;
}
.masthead {
  position: fixed;
  top: -5px;
  left: -1%;
  border-width: 0 0 1px 0;
  height: 96px;
  width: 102%;
  position: relative;
  font-family: 'MetaBold', sans-serif;
  font-size: 80px;
  line-height: 88px;
  color: white;
  z-index: 100;
}
.rtl .masthead {
  left: 0;
  right: -1%;
}
#bigcounter {
  color: #fff;
  font-family: 'MetaBold';
  position: absolute;
  z-index: 9000;
  margin: 0;
  top: 13px;
  width: 512px;
  height: 64px;
  border-width: 1px;
  font-size: 64px;
  line-height: 55px;
}
.ltr #bigcounter {
    left: 20px;
    text-align: left;
}
.rtl #bigcounter {
    text-align: right;
    right: 20px;
}
#dlbutton {
    color: white;
    text-shadow: -5px 0 14px rgba(240,240,255,.5),
                 5px 0 14px rgba(240,240,255,.5);
    font-family: MetaBold;
    text-decoration: none;
    font-size: 36px;
    line-height: 36px;
    background: -moz-linear-gradient(center top , #84C63C 0%, #489615 100%) repeat scroll 0 0 transparent;
    border-radius: 6px 6px 6px 6px;
    height: 36px;
    position: relative;
    display: block;
}
.ltr #dlbutton {
    float: right;
    padding: 7px 20px 12px 50px;
}
.rtl #dlbutton {
    float: left;
    padding: 7px 50px 12px 20px;
}
#dlbutton:before {
    content: "";
    width: 73px;
    height: 77px;
    position: absolute;
    display: block;
    top: -7px;
    left: -35px;
    background: url(../media/logo-med.png);
}
.rtl #dlbutton:before {
    left: auto;
    right: -35px;
}
#cta {
    position: absolute;
    top: 22px;
}
.ltr #cta {
    right: 40px;
}
.rtl #cta {
    left: 40px;
}
noscript {
  color: #fff;
  font-size: 64px;
}
#sunburst {
    display: none;
    background-color: #222;
}
#chart-sidebar {
    font-family: sans-serif;
    width: 300px;
    background-color: #181818;
    position: absolute;
    height: 100%;
    top: 0;
    overflow: auto;
}
.rtl #chart-sidebar {
    left: 0;
    border-right: 1px solid #050505;
}
.ltr #chart-sidebar {
    right: 0;
    border-left: 1px solid #050505;
}
#crumb {
    height: 15px;
    margin: 20px 19px;
}
#rankedlist {
    margin: 1em;
    font-size: 13px;
    padding-bottom: 2em;
}
#rankedlist a {
    display: block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
#rankedlist a:hover {
    background: #444;
}
.ltr #rankedlist li span {
    float: right;
    margin-left: 12px;
}
.rtl #rankedlist li span {
    float: left;
    margin-right: 12px;
}
