/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end meyer reset */


/************************************/
/*             TYPOGRAPHY           */
/************************************/

@font-face {
    font-family: 'MetaBlack';
    src: url('http://www.mozilla.com/img/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MetaBold';
    src: url('http://www.mozilla.com/img/fonts/MetaWebPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body, html {
  background: black;
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
}
#map_container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
#ui {
    z-index: 100;
}
#geo, #sunburst {
    position: absolute;
    top: 126px;
    width: 100%;
    background: #000;
}
#geo {
    background-image: -moz-radial-gradient(center -5% 45deg, #badfef, #4b94d0 20%, #2e70b4 30%, #002a77 60%);
    background-image: -webkit-gradient(radial, 50% -5%, 1, 50% -5%, 1800, from(#badfef), color-stop(20%, #4b94d0), color-stop(30%, #2e70b4), color-stop(60%, #002a77));
}
#pings {
    position: absolute;
    top: 0;
    left: 0;
    width: 3600px;
    height: 1800px;
}
#mapdata {
    -moz-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    width:3600px;
    height:1800px;
    position: absolute;
    top: 0;
    left: 0;
}
#mapdata img {
    width: 3600px;
    height: 1800px;
    overflow: hidden;
    pointer-events: none;
}
#logo {
    position: absolute;
    top: 20px;
    width: 146px;
    height: 150px;
    left: 50%;
    margin-left: -73px;
    z-index: 9000;
}
polygon {
    fill: #031841;
    stroke: none;
}

.glow {
  -webkit-box-shadow:
    0 0 18px 4px rgba(240,240,255,.4),
    inset 0 0 20px rgba(240,240,255,.4);
  -moz-box-shadow:
    0 0 18px 4px rgba(240,240,255,.4),
    inset 0 0 20px rgba(240,240,255,.4);
  box-shadow:
    0 0 18px 4px rgba(240,240,255,.4),
    inset 0 0 20px rgba(240,240,255,.4);
  border: 2px solid #fff;
}
.menu {
    position: fixed;
    bottom: -96px;
    left: -64px;
    height: 250px;
    width: 250px;
    z-index: 110;
    background: #000;
    border-radius: 128px;
    -moz-border-radius: 128px;
    -webkit-border-radius: 128px;
    background: url(../media/sector.png) center no-repeat #000;
    cursor: pointer;
}
.menu:after {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    left: 110px;
    width: 61px;
    height: 59px;
    opacity: 0;
    pointer-events: none;
    background-image: url(../media/arrow.png);
    -moz-transition: .2s opacity ease;
    -webkit-transition: .2s opacity ease;
}
.menu:hover:after {
    opacity: 1;
}
.view-sector .menu {
    background: url(../media/globe.png) center no-repeat #000;
}
#sqlstream {
    position: absolute;
    z-index: 100;
    /* 122px puts us right above the bars. */
    bottom: 125px;
    right: 10px;
    outline: none;
}
.view-sector #sqlstream {
    display: none;
}
.bars {
    position: fixed;
    bottom: 0px;
    right: -20px;
    height: 120px;
    width: 100%;
    padding-right: 20px;
    border-width: 1px 0 0 0;
    z-index: 100;
    text-align: right;
    background-color: #000;
    background-image: url(../media/bg-header.png);
    background-repeat: repeat-x;
    background-position: left top;
    box-shadow: ;
    white-space: nowrap;
}
.bars .col {
    text-align: center;
    line-height: 24px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    display: block;
    position: relative;
    float: right;
    width: 40px;
    height: 130px;
    margin: 0 10px 50px;
}
.bars.slide {
    -moz-transition-property: padding;
    -moz-transition-duration: 2s;
    -webkit-transition-property: padding;
    -webkit-transition-duration: 2s;
    transition-property: padding;
    transition-duration: 2s;
    padding-right: 80px;
}
.bars .bar {
    position: absolute;
    bottom: 0;
    width: 40px;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    height: 0;
    background: rgb(13, 25, 68);
    border: 1px solid #6eb6df;
    -moz-box-shadow: 0 0 6px 2px #1c74be,
                     0 0 4px 1px #1c74be inset,
                     0 0 6px 1px rgba(0,0,0,.7) inset;
    -webkit-box-shadow: 0 0 6px 2px #1c74be,
                        0 0 2px #1c74be,
                        0 0 4px 1px rgba(0,0,0,.2) inset;
/*    box-shadow: 0 0 6px 2px #1c74be,
                0 0 4px 1px rgba(0,0,0,.2) inset;
*/}
.bars .col .time {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 1.1em;
    color: rgba(255,255,255,.9);
    text-align: center;
}
.bars .col:hover .bar {
    background-color: #e39f1c;
    border-color: #fee65c;
    -moz-box-shadow:
        0 0 16px 4px rgba(227,159,28,.8),
        0 0 4px 1px rgba(0,0,0,.1) inset,
        0 0 2px 1px #FFC000 inset;
    -webkit-box-shadow:
        0 0 16px 4px rgba(227,159,28,.8),
        0 0 4px 1px rgba(0,0,0,.1) inset,
        0 0 2px 1px #FFC000 inset;
    box-shadow:
        0 0 16px 4px rgba(227,159,28,.8),
        0 0 4px 1px rgba(0,0,0,.1) inset,
        0 0 2px 1px #FFC000 inset;
}
.bar {
    height: 0;
    -moz-transition-property: height;
    -moz-transition-duration: 3s;
    -webkit-transition-property: height;
    -webkit-transition-duration: 3s;
    transition-property: height;
    transition-duration: 3s;
}
.masthead {
  position: fixed;
  top: -5px;
  left: -1%;
  border-width: 0 0 1px 0;
  height: 130px;
  width: 102%;
  position: relative;
  font-family: 'MetaBold', sans-serif;
  color: white;
  z-index: 100;
  background-image: url(../media/starburst.png), url(../media/bg-header.png);
  background-repeat: no-repeat, repeat;
  background-position: center -50px, top left;

}
.rtl .masthead {
  left: 0;
  right: -1%;
}
.masthead h1 {
    font-family: 'MetaBlack', "Trebuchet MS", Georgia;
    font-size: 44px;
    position: absolute;
    top: 13px;
    left: 38px;
    width: 400px;
    line-height: 43px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.rtl .masthead h1 {
    right: 40px;
}
h1, #bigcounter {
  text-shadow: -5px 0 14px rgba(240,240,255,.5),
                5px 0 14px rgba(240,240,255,.5);
}
#bigcounter {
  color: #fff;
  font-family: MetaBold, monospace;
  position: absolute;
  z-index: 9000;
  margin: 0;
  top: 20px;
  width: 512px;
  height: 64px;
  border-width: 1px;
  font-size: 72px;
  line-height: 54px;
}
.ltr #bigcounter {
    right: 24px;
    text-align: right;
}
.rtl #bigcounter {
    text-align: left;
    left: 24px;
}
#dlbutton {
    color: white;
    width: 222px;
    height: 49px;
    background: url(../media/dlbutton.png);
    position: relative;
    display: block;
    float: right;
}
.rtl #dlbutton {
    float: left;
}
#cta {
    position: absolute;
    top: 106px;
    right: 38px;
}
.rtl #cta {
    left: 38px;
}
noscript {
  color: #fff;
  font-size: 64px;
}
#sunburst {
    display: none;
    background-color: #222;
}
#chart-sidebar {
    font-family: sans-serif;
    width: 300px;
    background-color: #181818;
    position: absolute;
    height: 100%;
    padding-top: 18px;
    top: 0;
    overflow: auto;
}
.rtl #chart-sidebar {
    left: 0;
    border-right: 1px solid #050505;
}
.ltr #chart-sidebar {
    right: 0;
    border-left: 1px solid #050505;
}
#crumb {
    height: 15px;
    margin: 20px 19px;
}
#rankedlist {
    margin: 1em;
    font-size: 13px;
    padding-bottom: 2em;
}
#rankedlist a {
    display: block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
#rankedlist a:hover {
    background: #444;
}
.ltr #rankedlist li span {
    float: right;
    margin-left: 12px;
}
.rtl #rankedlist li span {
    float: left;
    margin-right: 12px;
}


.fullscreen .bars,
.fullscreen .menu {
    display: none;
}
.fullscreen #sqlstream {
    bottom: 5px;
}
.fullscreen #geo,
.fullscreen #sunburst {
    top: 0;
    left: 0;
}


#social {
    position: absolute;
    top: 114px;
    font-style: italic;
    left: 38px;
}
#social a {
    text-decoration: none;
    color: #444;
    border-color: #c9d9e2;
    display: inline-block;
    padding: 6px 16px 6px 56px;
    line-height: 20px;
    position: relative;
    font-family: georgia, serif;
    font-size: 14px;
    text-align: center;
    border: 1px solid #bdc6d7;
    background-color: #bfdff0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 -2px rgba(0,0,0,.1) inset, 0 0 8px rgba(255,255,255,.3);
    -moz-box-shadow: 0 -2px rgba(0,0,0,.1) inset, 0 0 8px rgba(255,255,255,.3);
    -webkit-box-shadow: 0 -2px rgba(0,0,0,.1) inset, 0 0 8px rgba(255,255,255,.3);
}
#social a:hover {
    background: #fff;
}

#twitter {
    padding-left: 48px;
    margin-right: 14px;
}
#twitter img {
    display: block;
    position: absolute;
    top: -8px;
    left: 12px;
    width: 31px;
    height: 39px;
}
#facebook img {
    display: block;
    position: absolute;
    top: -3px;
    left: 8px;
    width: 39px;
    height: 39px;
}